<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Valsa.ml</title
    </head>
    <body>

        <div id="firstDiv">
          <div id="mainDiv">
            <input type="text" id="url" placeholder="Enter a link..">
            <button type="submit" id="shorten">Go</button>
          </div>
          <h1>Made with ☕ and 💖 by Lona</h1>
        </div>
        <div class="bg"></div>
        <div class="bg bg3"></div>
        <div class="bg bg2"></div>
        <script src = "script.js" defer></script>
    </body>
</html>
