html {
    background: url('Bubble.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-attachment: fixed;
  }
  
  body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font-size: 10px;
  }
  
  #mainDiv{
    -webkit-border-radius: 6.25em;
    -moz-border-radius: 6.25em;
    border-radius: 6.25em;
    color: #ec83cd;
    background-color: white;
    width: 37.5rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    border: 0;
    opacity: 0.90;
    transform: scale(0.7);
    font-weight: 700;
    position: relative;
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 3em 0.3em rgba(0, 0, 0, 0.3);
  }
  
  #shorten, #copy{
    border-radius: 5em;
    box-sizing: border-box;
    border: 0;
    color: white;
    font-size: 2rem;
    background-color: #ea6a91;
    width: 6em;
    cursor: pointer;
    float: right;
  }
  
  #url, #shortUrl{
    outline: none;
    border: 0;
    color: salmon;
    float: left;
    background: none;
    font-size: 2rem;
    width: 86%;
    height: 100%;
    padding: 0 0.714em;
  }
  
  #shorten:active, #copy:active, #url:active, 
  #shortUrl:active, #shorten:focus, 
  #copy:focus, #url:focus, #shortUrl:focus{
    outline: none;
  }
  
  #shorten:active, #copy:active{
    background-color: salmon;
  }
  
  h1{
    font-family: 'Cairo', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  /*For Desktops*/
  @media only screen and (min-width: 481px){
    .bg{
      display: none;
    }
  }
  
  /*For Mobile Devices*/
  @media only screen and (max-width: 480px){
    html{
      background: none;
    }
    .bg {
      display: inital;
      animation:slide 3s ease-in-out infinite alternate;
      background-image: linear-gradient(-60deg, red 50%, yellow 50%);
      bottom:0;
      left:-50%;
      opacity:.5;
      position:fixed;
      right:-50%;
      top:0;
      z-index:-1;
    }
  
    .bg2 {
      animation-direction:alternate-reverse;
      animation-duration:4s;
    }   
    
    .bg3 {
      animation-duration:5s;
    }   
    
    @keyframes slide {
      0% {
        transform:translateX(-25%);
      }
      100% {
        transform:translateX(25%);
      }
    }
  
    #mainDiv{
      transform: scale(0.9);
      margin-top: 50%;
    }
  
    h1{
      color: black;
      font-size: 2rem;
    }
  }
  
  